* {
	margin:0px;
	padding:0px;
}
body {
	
	background-image:url(../images/cloud.jpg);
}
#wrapper{
	
	display:block;
	width:1200px;
	height:900px;
	
}
header {
	position:absolute;
	top:0px;	
	height:48px;
	width:1348px;
	background:#806B6B;
	opacity:0.5;
	font-family:Tahoma, Geneva, sans-serif;
}
#header_nav {
	position:relative;
	overflow:hidden;
	height:45px;
	margin:20px 0;
	text-align:center;
	opacity:0.5;
}
#header_nav ul {
	display:inline-block;
	list-style: none;
	margin:0px;
	padding:0px;
	position:relative;
	
	
}

#header_nav ul li {
	float:right;
	margin: 0px 10px;
	background:#EF8C8E;	
	border-radius: 20px;
	
}
#header_nav ul li a {
	display:inline-block;
	text-decoration:none;
	padding:5px 50px;
	border-radius: 20px;
    background-color:#444;
	color:#FFFFFF;

}
li {
	list-style-type:none;
}

article {
	position:absolute;
	height:200px;
	width:200px;
	text-align:center;
	opacity:0.5;
}
#location {
	display:block;
	border:solid 10px;
	width:400px;
	
}

section {
	position:block;
	top:300px;
	bottom:0px;
	left:320px;
	height:260px;
	width:700px;
	text-align: center;
	background: #FFFFFF;
	border:solid 2px #000000;
	font-family: Tahoma, Geneva, sans-serif;
	opacity:0.5;
}
	


#day_first {
	display:block;
	height:250px;
	width:90px;
	float:left;
	text-align:center;
	padding:2px;
	border: solid 1px #000000;
	margin:2px;
}

#day_second {
	display:block;
	height:250px;
	width:90px;
	float:left;
	
	text-align:center;
	padding:2px;
	border: solid 1px #000000;
	margin:2px;
}
#day_third {
	display:block;
	height:250px;
	width:90px;
	float:left;
	bottom:50px;
	text-align:center;
	padding:2px;
	border: solid 1px #000000;
	margin:2px;
}
#day_four {
	display:block;
	height:250px;
	width:90px;
	float:left;
	bottom:50px;
	text-align:center;
	padding:2px;
	border: solid 1px #000000;
	margin:2px;
}
#day_five {
	display:block;
	height:250px;
	width:90px;
	float:left;
	bottom:50px;
	text-align:center;
	padding:2px;
	border: solid 1px #000000;
	margin:2px;
}
#day_six {
	display:block;
	height:250px;
	width:90px;
	float:left;
	text-align:center;
	padding:2px;
	border: solid 1px #000000;
	margin:2px;
}
#day_seven {
	display:block;
	height:250px;
	width:90px;
	float:left;
	text-align:center;
	padding:2px;
	border: solid 1px #000000;
	margin:2px;
}
	



